@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>

<h1>Welcome to Game Box!</h1>
What is your name? 
<input type="text" />
    
<button  @onclick="GotoFetchData">Play Countdown</button>
<button  @onclick="GotoCounter">Play Up and Down the River</button>
<button @onclick="GotoGamebox">Play Would you Rather</button>
<button >Join Existing Game</button>

<input type="text" />
@code { 
    private void GotoFetchData() { NavigationManager.NavigateTo("fetchdata"); } 
    private void GotoCounter() { NavigationManager.NavigateTo("counter"); } 
    private void GotoGamebox() { NavigationManager.NavigateTo("gamebox"); } 
}