@page "/"
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Welcome to Game Box!</h1>
What is your name? 
<input type="text"  @bind="PlayerName"  />
    
<button  @onclick="GotoFetchData">Play Countdown</button>
<button  @onclick="GotoCounter">Play Up and Down the River</button>
<button @onclick="GotoWouldYouRather">Play Would you Rather</button>
<button >Join Existing Game</button>

<input type="text" />

<input @bind="@GitHash" />
@code {
    const string PLAY_NAME_STORAGE_KEY = "gamebox.playername";

    private string _playerName = string.Empty;
    private string PlayerName { 
        get => _playerName;
        set
        {
            _playerName = value;
            LocalStorage.SetItemAsync(PLAY_NAME_STORAGE_KEY, PlayerName);
        }
    }

    public string GitHash { get; set; } = string.Empty;

    private void GotoFetchData() => NavigationManager.NavigateTo("fetchdata");
    private void GotoCounter() => NavigationManager.NavigateTo("counter"); 
    private void GotoWouldYouRather() => NavigationManager.NavigateTo("wouldyourather");

    protected override async Task OnInitializedAsync()
    {
        PlayerName = await LocalStorage.GetItemAsync<string>(PLAY_NAME_STORAGE_KEY);
        GitHash = await Http.GetStringAsync("GitHash");
    }
}